INSIGHTS:
  ID: "46270264-0be0-40e8-8317-bfa4eaeea1ac"
CI:
  POLICY_NAME: "CI"
CD:
  POLICY_NAME: "CD"
  APP_NAME: "test-umbrella"
  NOHELMDEPLOY: true
CT:
  POLICY_NAME: "CT"
COT:
  POLICY_NAME: "COT"
STAGECD:
  POLICY_NAME: "STAGECD"
STAGECVV:
  POLICY_NAME: "STAGECVV"
PRODCD:
  POLICY_NAME: "PRODCD"
PRODCGL:
  POLICY_NAME: "PRODCGL"