INSIGHTS:
  ID: "a8480268-7fbd-49d0-8f44-e7ce4dcf4499"
CI:
  POLICY_NAME: "CI"
CD:
  POLICY_NAME: "CD"
  APP_NAME: "test-umbrella"
  NOHELMDEPLOY: true
CT:
  POLICY_NAME: "CT"
COT:
  POLICY_NAME: "COT"
STAGECD:
  POLICY_NAME: "STAGECD"
STAGECVV:
  POLICY_NAME: "STAGECVV"
PRODCD:
  POLICY_NAME: "PRODCD"
PRODCGL:
  POLICY_NAME: "PRODCGL"