INSIGHTS:
  ID: "92c2813a-a2e0-47d5-8b3a-e56f80ce50f0"
CI:
  POLICY_NAME: "CI"
CD:
  POLICY_NAME: "CD"
  APP_NAME: "clinical-enrichment"
  NOHELMDEPLOY: true
CT:
  POLICY_NAME: "CT"
COT:
  POLICY_NAME: "COT"
STAGECD:
  POLICY_NAME: "STAGECD"
STAGECVV:
  POLICY_NAME: "STAGECVV"
PRODCD:
  POLICY_NAME: "PRODCD"
PRODCGL:
  POLICY_NAME: "PRODCGL"